<thead class="thead-default">
<tr>
    <th>Tier</th>
    <th>Name</th>
    <th>Price PrimResource</th>
    <th class="amount-col">Amount PrimResource</th>
    <th>Price SecResource</th>
    <th class="amount-col">Amount SecResource</th>
    <th class="amount-col">Amount Journals</th>
    <th>Price</th>
    <th class="amount-col" title="flat & .1 = 1000kg, .2 = 500kg, .3 = 100kg, .4 = 10kg at least 1">
        Amount Crafted*
    </th>
    <th>BM Amount</th>
    {#                    <th>Crafting Fee</th> #}
    <th>Profit</th>
    <th>Percentage</th>
    <th>MaterialCost</th>
    <th>WeaponGroup</th>
</tr>
</thead>