<thead>
<tr>
    <th>Tier</th>
    <th>Name</th>
    <th>Base ItemPrice</th>
    <th>Bm Sell Price</th>
    <th>Material Price</th>
    <th>Total Material Cost</th>
    <th>MaterialAmount</th>
    <th>Profit</th>
    <th>Percentage</th>
    <th>Amount</th>
</tr>
</thead>
