<div class="card mt-3">
    <div class="col">
        <table class="inputs">
            <tbody>
            <tr>
                <td>Minimum Tier:</td>
                <td><label>
                        <input type="text" class="form-control min" name="min">
                    </label></td>
            </tr>
            <tr>
                <td>Maximum Tier:</td>
                <td><label>
                        <input type="text" class="form-control max" name="max">
                    </label></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>