<thead class="thead-default">
<tr>
    <th>Tier</th>
    <th>Name</th>
    <th>Refined Price</th>
    <th>Raw Material</th>
    <th>Lower Resource</th>
    <th>Profit</th>
    <th>Percentage</th>
    <th>Amount</th>
    <th>Total Profit</th>
    <th>Material Cost</th>
    {#                    <td>Crafting Fee</td> #}
</tr>
</thead>
