<thead>
<tr>
    <th>StartTier</th>
    <th>EndTierPath</th>
    <th>Typ</th>
    <th>Profit</th>
    <th>Start Resource</th>
    <th>End Resource</th>
    <th>TransmuteCost</th>
    <th>Percentage</th>
</tr>
</thead>
