{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="itemCity">Choose the City to Craft</label>
                                    <select name="itemCity" id="itemCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <label for="percentage">Resource Return Rate *</label>
                                <input name="rrr" type="number" list="percentageOptions" class="form-control"
                                       id="percentage" placeholder="Default Value 47.9%" step="0.1">
                                <datalist id="percentageOptions">
                                    <option value="24.8">24.8% - Base Crafting</option>
                                    <option value="47.9">47.9% - Fokus Crafting</option>
                                    <option value="30">30% - 10% Bonus on Base Crafting</option>
                                    <option value="50.4">50.4% - 10%Bonus on Focus Crafting</option>
                                </datalist>
                            </div>
                            {#                            <div class="col-2"> #}
                            {#                                <label for="craftingFee"> #}
                            {#                                    Crafting Fee / 100 Nutrition #}
                            {#                                </label> #}
                            {#                                <input class="form-control" #}
                            {#                                       id="craftingFee" #}
                            {#                                       max="9999" #}
                            {#                                       min="0" #}
                            {#                                       name="craftingFee" #}
                            {#                                       step="1" #}
                            {#                                       type="number"> #}
                            {#                            </div> #}
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                            <div class="col-2">
                                <input type="checkbox" class="form-check-input" id="bonusResource" checked
                                       value="bonusResource" name="bonusResource">
                                <label for="bonusResource">Use bonusCity Resource</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="d-flex">
                    {% for name,rate in rates %}
                        <small class="badge badge-secondary standard-badge">*{{ name }}: {{ rate }}%</small>
                    {% endfor %}
                    <small class="badge badge-secondary standard-badge"> *flat and .1 = 1000kg</small>
                    <small class="badge badge-secondary standard-badge"> *.2 = 500kg</small>
                    <small class="badge badge-secondary standard-badge"> *.3 = 100kg</small>
                    <small class="badge badge-secondary standard-badge"> *.4 = 10kg or at least 1</small>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <div class="btn btn-primary" id="toggleSellBuy">Toggle Buy or Sell Order</div>
                </div>
            </div>
            <div class="row mt-3">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'tableHeader/MinMax.html.twig' %}
    <div class="card mt-3" id="resourceSell">
        <div class="card-body">
            <div class="card-title">
                <h3>Crafting Insta Buy</h3>
            </div>
            <table class="table table-sm table-bordered align-middle sortTable">
                {% include 'tableHeader/BmCraftingHeader.html.twig' %}
                <tbody class="text-right">
                {# @var bmcEntity \MZierdt\Albion\Entity\BlackMaerketCraftingEntity #}
                {% for bmcEntity in dataArray %}
                    <tr class="bg-{{ bmcEntity.profitGradeSell }}">
                        <td class="align-middle text-left tier-{{ bmcEntity.tierColor }} tier">{{ bmcEntity.item.tier }}</td>
                        <td class="align-middle">{{ bmcEntity.item.realName }}</td>
                        <td class="align-middle {% if bmcEntity.primResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ bmcEntity.primResource.sellOrderDate|date('d.m H:i') }}min">
                                {{ bmcEntity.primResource.sellOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle">{{ bmcEntity.primResourceTotalAmount|number_format }}x</td>
                        <td class="align-middle {% if bmcEntity.secResource.sellOrderDate < timeThreshold %}bg-D{% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ bmcEntity.secResource.sellOrderDate|date('d.m H:i') }}min">
                                {{ bmcEntity.secResource.sellOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle">{{ bmcEntity.secResourceTotalAmount|number_format }}x</td>
                        <td class="align-middle">{{ bmcEntity.journalTotalAmount|round(1,'ceil') }}x</td>
                        <td class="align-middle {% if bmcEntity.item.sellOrderDate < timeThreshold %}bg-D{% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ bmcEntity.item.sellOrderDate|date('d.m H:i') }}min">
                                {{ bmcEntity.item.sellOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle">{{ bmcEntity.amount|number_format }}x</td>
                        <td class="align-middle">{{ bmcEntity.bmAmount|number_format }}x</td>
                        {#                            <td class="align-middle">{{ bmcEntity.craftingFee|number_format }}</td> #}
                        <td class="align-middle">{{ (bmcEntity.profitSell * bmcEntity.amount)|number_format }}</td>
                        <td class="align-middle">{{ bmcEntity.profitPercentageSell|number_format }}</td>
                        <td class="align-middle">{{ (bmcEntity.amount * bmcEntity.materialCostSell)|number_format }}</td>
                        <td class="align-middle">{{ bmcEntity.item.weaponGroup }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-3" style="display: none;" id="resourceBuy">
        <div class="card-body">
            <div class="card-title">
                <h3>Crafting buy Order</h3>
            </div>
            <table class="table table-sm table-bordered align-middle sortTable">
                {% include 'tableHeader/BmCraftingHeader.html.twig' %}
                <tbody class="text-right">
                {# @var bmcEntity \MZierdt\Albion\Entity\BlackMaerketCraftingEntity #}
                {% for bmcEntity in dataArray %}
                    <tr class="bg-{{ bmcEntity.profitGradeBuy }}">
                        <td class="align-middle text-left tier-{{ bmcEntity.tierColor }} tier">{{ bmcEntity.item.tier }}</td>
                        <td class="align-middle">{{ bmcEntity.item.realName }}</td>
                        <td class="align-middle {% if bmcEntity.primResource.buyOrderDate < timeThreshold %} bg-D {% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ bmcEntity.primResource.buyOrderDate|date('d.m H:i') }}min">
                                {{ bmcEntity.primResource.buyOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle">{{ bmcEntity.primResourceTotalAmount|number_format }}x</td>
                        <td class="align-middle {% if bmcEntity.secResource.buyOrderDate < timeThreshold %}bg-D{% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ bmcEntity.secResource.buyOrderDate|date('d.m H:i') }}min">
                                {{ bmcEntity.secResource.buyOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle">{{ bmcEntity.secResourceTotalAmount|number_format }}x</td>
                        <td class="align-middle">{{ bmcEntity.journalTotalAmount|round(1,'ceil') }}x</td>
                        <td class="align-middle {% if bmcEntity.item.sellOrderDate < timeThreshold %}bg-D{% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ bmcEntity.item.sellOrderDate|date('d.m H:i') }}min">
                                {{ bmcEntity.item.sellOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle">{{ bmcEntity.amount|number_format }}x</td>
                        <td class="align-middle">{{ bmcEntity.bmAmount|number_format }}x</td>
                        {#                            <td class="align-middle">{{ bmcEntity.craftingFee|number_format }}</td> #}
                        <td class="align-middle">{{ (bmcEntity.profitBuy * bmcEntity.amount)|number_format }}</td>
                        <td class="align-middle">{{ bmcEntity.profitPercentageBuy|number_format }}</td>
                        <td class="align-middle">{{ (bmcEntity.amount * bmcEntity.materialCostBuy)|number_format }}</td>
                        <td class="align-middle">{{ bmcEntity.item.weaponGroup }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

