{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <form action="" method="get">
                        <div class="row">
                                <div class="form-group">
                                    <label for="itemCity">Choose City to transport from</label>
                                    <select name="itemCity" id="itemCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                        </div>
                        <div class="row mt-3">
                            <button class="btn btn-primary" type="submit">Calculate</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="btn btn-primary" id="toggleSellBuy">Toggle Buy Or SellOrder</div>
                </div>
            </div>
            <div class="row">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'tableHeader/MinMax.html.twig' %}
    <div class="card mt-3" id="resourceSell">
        <div class="card-body">
            <div class="card-title"><h3>Transport Insta Buy</h3></div>
            <table class="table table-sm table-bordered sortTable">
                {% include 'tableHeader/BmTransportHeader.html.twig' %}
                <tbody>
                {# @var transportEntity \MZierdt\Albion\Entity\AdvancedEntities\BlackMarketTransportEntity #}
                {% for transportEntity in dataArray %}
                    {% if transportEntity.profitSell > 0 %}
                        <tr class="bg-{{ transportEntity.profitGradeSell }}">
                            <td class="align-middle text-left tier-{{ transportEntity.tierColor }} tier">{{ transportEntity.bmItem.tier }}</td>
                            <td class="align-middle">{{ transportEntity.bmItem.realName }}</td>
                            <td class="align-middle {% if transportEntity.bmItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transportEntity.bmItem.sellOrderDate|date('d.m H:i') }}min">{{ transportEntity.bmItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle {% if transportEntity.cityItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transportEntity.cityItem.sellOrderDate|date('d.m H:i') }}min">{{ transportEntity.cityItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle">{{ transportEntity.profitSell|number_format }}</td>
                            <td class="align-middle">{{ transportEntity.profitPercentageSell|number_format }}</td>
                            <td class="align-middle">{{ transportEntity.amount|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-3" style="display: none" id="resourceBuy">
        <div class="card-body">
            <div class="card-title"><h3>Transport buy order</h3></div>
            <table class="table table-sm table-bordered sortTable">
                {% include 'tableHeader/BmTransportHeader.html.twig' %}
                <tbody>
                {# @var transportEntity \MZierdt\Albion\Entity\AdvancedEntities\BlackMarketTransportEntity #}
                {% for transportEntity in dataArray %}
                    {% if transportEntity.profitBuy > 0 %}
                        <tr class="bg-{{ transportEntity.profitGradeBuy }}">
                            <td class="align-middle text-left tier-{{ transportEntity.tierColor }} tier">{{ transportEntity.bmItem.tier }}</td>
                            <td class="align-middle">{{ transportEntity.bmItem.realName }}</td>
                            <td class="align-middle {% if transportEntity.bmItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transportEntity.bmItem.sellOrderDate|date('d.m H:i') }}min">{{ transportEntity.bmItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle {% if transportEntity.cityItem.buyOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transportEntity.cityItem.buyOrderDate|date('d.m H:i') }}min">{{ transportEntity.cityItem.buyOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle">{{ transportEntity.profitBuy|number_format }}</td>
                            <td class="align-middle">{{ transportEntity.profitPercentageBuy|number_format }}</td>
                            <td class="align-middle">{{ transportEntity.amount|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}