{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <form action="" method="get">
                        <div class="row">
                            <div class="form-group">
                                <label for="itemCity">Choose City to transport from</label>
                                <select name="itemCity" id="itemCity" class="form-control">
                                    <option value="Fort Sterling">Fort Sterling</option>
                                    <option value="Lymhurst">Lymhurst</option>
                                    <option value="Bridgewatch">Bridgewatch</option>
                                    <option value="Martlock">Martlock</option>
                                    <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <div class="btn btn-primary" id="toggleSellBuy">Toggle Buy and Buy Order</div>
                </div>
            </div>
            <div class="row">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'tableHeader/MinMax.html.twig' %}
    <div class="card mt-3" id="resourceSell">
        <div class="card-body">
            <div class="card-title"><h3>Profit Insta Buy</h3></div>
            <table class="table table-sm table-bordered sortTable">
                {% include 'tableHeader/EnchantingHeader.html.twig' %}
                <tbody>
                {# @var enchantingEntity \MZierdt\Albion\Entity\EnchantingEntity #}
                {% for enchantingEntity in dataArray %}
                    {% if enchantingEntity.ProfitSell > 0 %}
                        <tr class="bg-{{ enchantingEntity.profitGradeSell }}">
                            <td class="align-middle text-left tier-{{ enchantingEntity.tierColor }} tier">{{ enchantingEntity.baseItem.tier }}</td>
                            <td class="align-middle">{{ enchantingEntity.baseItem.realName }}</td>
                            <td class="align-middle {% if enchantingEntity.baseItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ enchantingEntity.baseItem.sellOrderDate|date('d.m H:i') }}min">{{ enchantingEntity.baseItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle {% if enchantingEntity.higherEnchantmentItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ enchantingEntity.higherEnchantmentItem.sellOrderDate|date('d.m H:i') }}min">{{ enchantingEntity.higherEnchantmentItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle">{{ enchantingEntity.enchantmentMaterial.buyOrderPrice|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.materialCostBuy|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.materialAmount|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.profitSell|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.profitPercentageSell|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.amount|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-3" style="display: none" id="resourceBuy">
        <div class="card-body">
            <div class="card-title"><h3>Profit Buy Order</h3></div>
            <table class="table table-sm table-bordered sortTable">
                {% include 'tableHeader/EnchantingHeader.html.twig' %}
                <tbody>
                {# @var enchantingEntity \MZierdt\Albion\Entity\EnchantingEntity #}
                {% for enchantingEntity in dataArray %}
                    {% if enchantingEntity.ProfitBuy > 0 %}
                        <tr class="bg-{{ enchantingEntity.profitGradeBuy }}">
                            <td class="align-middle text-left tier-{{ enchantingEntity.tierColor }} tier">{{ enchantingEntity.baseItem.tier }}</td>
                            <td class="align-middle">{{ enchantingEntity.baseItem.realName }}</td>
                            <td class="align-middle {% if enchantingEntity.baseItem.buyOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ enchantingEntity.baseItem.buyOrderDate|date('d.m H:i') }}min">{{ enchantingEntity.baseItem.buyOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle {% if enchantingEntity.higherEnchantmentItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ enchantingEntity.higherEnchantmentItem.sellOrderDate|date('d.m H:i') }}min">{{ enchantingEntity.higherEnchantmentItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle">{{ enchantingEntity.enchantmentMaterial.buyOrderPrice|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.materialCostBuy|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.materialAmount|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.profitBuy|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.profitPercentageBuy|number_format }}</td>
                            <td class="align-middle">{{ enchantingEntity.amount|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


