{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="itemCity">Choose City to transport from</label>
                                    <select name="itemCity" id="itemCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <div class="btn btn-primary" id="toggleSellBuy">Toggle Buy and Buy Order</div>
                </div>
            </div>
            <div class="row">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'tableHeader/MinMax.html.twig' %}
    <div class="card mt-3" id="resourceSell">
        <div class="card-body">
            <div class="card-title"><h3>Profit Insta Buy</h3></div>
            <table class="table table-sm table-bordered sortTable">
                {% include 'tableHeader/NoSpecHeader.html.twig' %}
                <tbody>
                {# @var noSpecEntity \MZierdt\Albion\Entity\NoSpecEntity #}
                {% for noSpecEntity in dataArray %}
                    {% if noSpecEntity.profitSell >0 %}
                        <tr class="bg-{{ noSpecEntity.profitGradeSell }}">
                            <td class="align-middle text-left tier-{{ noSpecEntity.tierColor }} tier">{{ noSpecEntity.specialItem.tier }}</td>
                            <td class="align-middle">{{ noSpecEntity.specialItem.realName }}</td>
                            <td class="align-middle {% if noSpecEntity.specialItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ noSpecEntity.specialItem.sellOrderDate|date('d.m H:i') }}min">{{ noSpecEntity.specialItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle">{{ noSpecEntity.materialCostSell|number_format }}</td>
                            <td class="align-middle">{{ noSpecEntity.profitSell|number_format }}</td>
                            <td class="align-middle">{{ noSpecEntity.profitPercentageSell|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-3" style="display: none" id="resourceBuy">
        <div class="card-body">
            <div class="card-title"><h3>Profit Buy Order</h3></div>
            <table class="table table-sm table-bordered sortTable">
                {% include 'tableHeader/NoSpecHeader.html.twig' %}
                <tbody>
                {# @var noSpecEntity \MZierdt\Albion\Entity\NoSpecEntity #}
                {% for noSpecEntity in dataArray %}
                    {% if noSpecEntity.profitBuy >0 %}
                        <tr class="bg-{{ noSpecEntity.profitGradeBuy }}">
                            <td class="align-middle text-left tier-{{ noSpecEntity.tierColor }} tier">{{ noSpecEntity.specialItem.tier }}</td>
                            <td class="align-middle">{{ noSpecEntity.specialItem.realName }}</td>
                            <td class="align-middle {% if noSpecEntity.specialItem.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ noSpecEntity.specialItem.sellOrderDate|date('d.m H:i') }}min">{{ noSpecEntity.specialItem.sellOrderPrice|number_format }}</a>
                            </td>
                            <td class="align-middle">{{ noSpecEntity.materialCostBuy|number_format }}</td>
                            <td class="align-middle">{{ noSpecEntity.profitBuy|number_format }}</td>
                            <td class="align-middle">{{ noSpecEntity.profitPercentageBuy|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}