{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <div class="row">
                <div class="col-10">
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-3">
                                <div class="form-group">
                                    <label for="itemCity">Choose the City to Refine</label>
                                    <select name="itemCity" id="itemCity" class="form-control">
                                        <option value="Fort Sterling">Fort Sterling</option>
                                        <option value="Lymhurst">Lymhurst</option>
                                        <option value="Bridgewatch">Bridgewatch</option>
                                        <option value="Martlock">Martlock</option>
                                        <option value="Thetford">Thetford</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-2">
                                <label for="percentage">Resource Return Rate *</label>
                                <input name="rrr" type="number" list="percentageOptions" class="form-control"
                                       id="percentage" placeholder="Default Value 53.9%" step="0.1">
                                <datalist id="percentageOptions">
                                    <option value="36.7">36.7% - Base Refining</option>
                                    <option value="53.9">53.9% - Focus Refining</option>
                                    <option value="53.9">40.4% - 10% Bonus on Base Refining</option>
                                    <option value="53.9">55.9% - 10% Bonus on Focus Refining</option>
                                    <option value="53.9">43.8% - 20% Bonus on Base Refining</option>
                                    <option value="53.9">57.8% - 20% Bonus on Focus Refining</option>
                                </datalist>
                            </div>
                            {#                            <div class="col-2"> #}
                            {#                                <label for="craftingFee"> #}
                            {#                                    Crafting Fee / 100 Nutrition #}
                            {#                                </label> #}
                            {#                                <input class="form-control" #}
                            {#                                       id="craftingFee" #}
                            {#                                       max="9999" #}
                            {#                                       min="0" #}
                            {#                                       name="craftingFee" #}
                            {#                                       step="1" #}
                            {#                                       type="number"> #}
                            {#                            </div> #}
                        </div>
                        <div class="row">
                            <div class="col-3">
                                <button class="btn btn-primary" type="submit">Calculate</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-4">
                    <div class="btn btn-primary" id="toggleSellBuy">Toggle Buy or Sell Order</div>
                </div>
            </div>
            <div class="row mt-3">
                {% if alertMessage is not null %}
                    <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
                {% endif %}
            </div>
            <div class="row mt-3">
                Amount = FullSpec and 30k Focus
            </div>
        </div>
    </div>
    {% include 'tableHeader/MinMax.html.twig' %}
    <div class="card mt-3" id="resourceSell">
        <div class="card-body">
            <div class="card-title">
                <h3>Refining Insta Buy</h3>
            </div>
            <table class="table table-sm table-bordered align-middle sortTable">
                {% include 'tableHeader/RefiningHeader.html.twig' %}
                <tbody class="text-right">
                {# @var refiningEntity \MZierdt\Albion\Entity\RefiningEntity #}
                {% for refiningEntity in dataArray %}
                    <tr class="bg-{{ refiningEntity.profitGradeSell }}">
                        <td class="align-middle text-left tier-{{ refiningEntity.tierColor }} tier">{{ refiningEntity.refinedResource.tier }}</td>
                        <td class="align-middle">{{ refiningEntity.refinedResource.realName }}</td>
                        <td class="align-middle {% if refiningEntity.refinedResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ refiningEntity.refinedResource.sellOrderDate|date('d.m H:i') }}min">
                                {{ refiningEntity.refinedResource.sellOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle {% if refiningEntity.rawResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ refiningEntity.rawResource.sellOrderDate|date('d.m H:i') }}min">
                                {{ refiningEntity.rawResource.sellOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle {% if refiningEntity.lowerResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ refiningEntity.lowerResource.sellOrderDate|date('d.m H:i') }}min">
                                {{ refiningEntity.lowerResource.sellOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle">{{ refiningEntity.profitSell|number_format }}</td>
                        <td class="align-middle">{{ refiningEntity.profitPercentageSell|number_format }}</td>
                        <td class="align-middle">{{ refiningEntity.amount|number_format }}</td>
                        <td class="align-middle">{{ (refiningEntity.amount * refiningEntity.profitSell)|number_format }}</td>
                        <td class="align-middle">{{ (refiningEntity.amount * refiningEntity.materialCostSell)|number_format }}</td>
                        {#                        <td class="align-middle">{{ refiningEntity.craftingFee }}</td> #}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-3" style="display: none" id="resourceBuy">
        <div class="card-body">
            <div class="card-title">
                <h3>Refining buy order</h3>
            </div>
            <table class="table table-sm table-bordered align-middle sortTable">
                {% include 'tableHeader/RefiningHeader.html.twig' %}
                <tbody class="text-right">
                {# @var refiningEntity \MZierdt\Albion\Entity\RefiningEntity #}
                {% for refiningEntity in dataArray %}
                    <tr class="bg-{{ refiningEntity.profitGradeBuy }}">
                        <td class="align-middle text-left tier-{{ refiningEntity.tierColor }} tier">{{ refiningEntity.refinedResource.tier }}</td>
                        <td class="align-middle">{{ refiningEntity.refinedResource.realName }}</td>
                        <td class="align-middle {% if refiningEntity.refinedResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ refiningEntity.refinedResource.sellOrderDate|date('d.m H:i') }}min">
                                {{ refiningEntity.refinedResource.sellOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle {% if refiningEntity.rawResource.buyOrderDate < timeThreshold %} bg-D {% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ refiningEntity.rawResource.buyOrderDate|date('d.m H:i') }}min">
                                {{ refiningEntity.rawResource.buyOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle {% if refiningEntity.lowerResource.buyOrderDate < timeThreshold %} bg-D {% endif %}">
                            <a class="btn text-right w-100"
                               title="{{ refiningEntity.lowerResource.buyOrderDate|date('d.m H:i') }}min">
                                {{ refiningEntity.lowerResource.buyOrderPrice|number_format }}
                            </a>
                        </td>
                        <td class="align-middle">{{ refiningEntity.profitBuy|number_format }}</td>
                        <td class="align-middle">{{ refiningEntity.profitPercentageBuy|number_format }}</td>
                        <td class="align-middle">{{ refiningEntity.amount|number_format }}</td>
                        <td class="align-middle">{{ (refiningEntity.amount * refiningEntity.profitBuy)|number_format }}</td>
                        <td class="align-middle">{{ (refiningEntity.amount * refiningEntity.materialCostBuy)|number_format }}</td>
                        {#                        <td class="align-middle">{{ refiningEntity.craftingFee }}</td> #}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

