{% extends 'layout.html.twig' %}

{% block content %}
    <div class="card mt-3">
        <div class="card-body">
            <form action="" method="get">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label for="city">Choose City to transport from</label>
                            <select name="city" id="city" class="form-control">
                                <option value="Fort Sterling">Fort Sterling</option>
                                <option value="Lymhurst">Lymhurst</option>
                                <option value="Bridgewatch">Bridgewatch</option>
                                <option value="Martlock">Martlock</option>
                                <option value="Thetford">Thetford</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <button class="btn btn-primary" type="submit">Calculate</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="row mt-3">
            <div class="col-4">
                <div class="btn btn-primary" id="toggleSellBuy">Toggle Buy and Buy Order</div>
            </div>
        </div>
        <div class="row">
            {% if alertMessage is not null %}
                <div class="alert alert-danger standard-alert">{{ alertMessage }}</div>
            {% endif %}
        </div>
    </div>
    {% include 'tableHeader/MinMax.html.twig' %}
    <div class="card mt-3" id="resourceSell">
        <div class="card-body">
            <div class="card-title"><h3>Profit Insta Buy</h3></div>
            <table class="table table-sm table-bordered sortTable">
                {% include 'tableHeader/TransmutationHeader.html.twig' %}
                <tbody>
                {# @var transmutationEntity \MZierdt\Albion\Entity\TransmutationEntity #}
                {% for transmutationEntity in dataArray %}
                    {% if transmutationEntity.profitSell >0 %}
                        <tr class="bg-{{ transmutationEntity.profitGradeSell }}">
                            <td class="align-middle text-left tier tier-{{ transmutationEntity.tierColor }}"> {{ transmutationEntity.startResource.tier }}</td>
                            <td class="align-middle text-left tier tier-{{ transmutationEntity.endTierColor }}"> {{ transmutationEntity.endResource.tier }}</td>
                            <td class="align-middle text-right"> {{ transmutationEntity.resourceType }}</td>
                            <td class="align-middle text-right"> {{ transmutationEntity.profitSell|number_format }}</td>
                            <td class="align-middle {% if transmutationEntity.startResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transmutationEntity.startResource.sellOrderDate|date('d.m H:i') }}min">
                                    {{ transmutationEntity.startResource.sellOrderPrice|number_format }}
                                </a>
                            </td>
                            <td class="align-middle {% if transmutationEntity.endResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transmutationEntity.endResource.sellOrderDate|date('d.m H:i') }}min">
                                    {{ transmutationEntity.endResource.sellOrderPrice|number_format }}
                                </a>
                            </td>
                            <td class="align-middle text-right"> {{ transmutationEntity.transmutationPrice|number_format }}</td>
                            <td class="align-middle text-right"> {{ transmutationEntity.profitPercentageSell|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card mt-3" style="display: none;" id="resourceBuy">
        <div class="card-body">
            <div class="card-title"><h3>Profit Buy Order</h3></div>
            <table class="table table-sm table-bordered sortTable">
                {% include 'tableHeader/TransmutationHeader.html.twig' %}
                <tbody>
                {# @var transmutationEntity \MZierdt\Albion\Entity\TransmutationEntity #}
                {% for transmutationEntity in dataArray %}
                    {% if transmutationEntity.profitBuy >0 %}
                        <tr class="bg-{{ transmutationEntity.profitGradeBuy }}">
                            <td class="align-middle text-left tier tier-{{ transmutationEntity.tierColor }}"> {{ transmutationEntity.startResource.tier }}</td>
                            <td class="align-middle text-left tier tier-{{ transmutationEntity.endTierColor }}"> {{ transmutationEntity.endResource.tier }}</td>
                            <td class="align-middle text-right"> {{ transmutationEntity.resourceType }}</td>
                            <td class="align-middle text-right"> {{ transmutationEntity.profitBuy|number_format }}</td>
                            <td class="align-middle {% if transmutationEntity.startResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transmutationEntity.startResource.sellOrderDate|date('d.m H:i') }}min">
                                    {{ transmutationEntity.startResource.sellOrderPrice|number_format }}
                                </a>
                            </td>
                            <td class="align-middle {% if transmutationEntity.endResource.sellOrderDate < timeThreshold %} bg-D {% endif %}">
                                <a class="btn text-right w-100"
                                   title="{{ transmutationEntity.endResource.sellOrderDate|date('d.m H:i') }}min">
                                    {{ transmutationEntity.endResource.sellOrderPrice|number_format }}
                                </a>
                            </td>
                            <td class="align-middle text-right"> {{ transmutationEntity.transmutationPrice|number_format }}</td>
                            <td class="align-middle text-right"> {{ transmutationEntity.profitPercentageBuy|number_format }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


